#map {
  height: 90vh;
}

.popup-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

body {
  background-color: #f7f8fa;
}

.content-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.content-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content-card ul li {
  margin-bottom: 10px;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
